.dashboard-main {
  display: flex;
  padding: 5px;
  flex: 1;
  background-color: #f9fbfd;
  gap: 0;
  flex-wrap: wrap; 
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%; 
  max-width: 100%; 
}

.dashboard-overview {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.dashboard-overview > * {
  flex: 1;
  min-width: 240px; 
}

.dashboard-right {
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px; 
}

.dashboard-left h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .dashboard-main {
    flex-direction: row;
  }

  .dashboard-left {
    width: auto;
    max-width: calc(100% - 350px);
  }

  .dashboard-right {
    width: 350px;
    margin-top: 0;
  }
}
